<p>Текущее время: <time id="currentTime"></time></p>

<script>
  var timeElement = document.getElementById('currentTime');
  setInterval(function () {
    var currentTime = new Date();
    timeElement.textContent = currentTime.toLocaleTimeString();
  }, 1000);
</script>