<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
    
    <top>
    <title>
    {{это шапочка}}
    </title>
    <img src="https://unsplash.com/photos/two-person-standing-on-gray-tile-paving-TamMbr4okv4">
    </top>

    <aside> <!-- Sidebar -->
   <nav> <!-- Additional page menu -->
      <a href="/service-1/"> покупки </a>
      <a href="/service-2/"> корзина  </a>
      <a href="/service-3/"> сумма </a>
   </nav>
   </aside>

    <nav>
        <a href="/">Главная</a>
        <a href="/user">Пользователи</a>
        <a href="/about">О нас</a>
    </nav>

     <bottom>
        <title>
    {{это подвал сайта}}
    </title>
    <img src="https://unsplash.com/photos/do-something-great-neon-sign-oqStl2L5oxI">
    </bottom>

        {% include content_template_name %}
    </body>
</html>